# Data & Analysis
pandas
numpy
yfinance
ta
openpyxl

# Visualization
matplotlib
seaborn

# Machine Learning & Modeling
scikit-learn
xgboost
tensorflow
hmmlearn

# Options & Volatility
py_vollib
mibian

# Backend / API
flask
flask-cors

# Deployment
gunicorn
